body {
    background-color: #eee;
}

header, section, footer {
    max-width: 800px;
    background-color: #fff;
    margin: auto;
}

header {
    height: 100px;
    text-align: center;
    line-height: 100px;
}

section {
    margin: 20px auto;
}

footer {
    height: 100px;
    text-align: center;
    line-height: 100px;
}